version: 2
updates:

- package-ecosystem: docker
  directory: container/
  schedule:
    interval: monthly

- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: monthly

- package-ecosystem: pip
  directory: /
  schedule:
    interval: monthly
