alembic==1.6.2
banal==1.0.6
click==7.1.2
dataset==1.5.0
Flask==1.1.2
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
psycopg2==2.8.6
python-dateutil==2.8.1
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.14
Werkzeug==1.0.1
