[Unit]
Description=Speedtest Container
After=network.target

[Service]
Type=simple
Restart=on-failure

#ExecStartPre=-/usr/bin/podman pull docker.io/ansemjo/speedtest
ExecStartPre=-/usr/bin/podman create --net host -v /etc/speedtest:/data --name speedtest docker.io/ansemjo/speedtest
ExecStart=/usr/bin/podman start -a --sig-proxy speedtest

[Install]
WantedBy=multi-user.target

